@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4 rounded text-center" style="max-width: 400px; width: 100%;">
        <h2 class="text-primary">@ViewData["Title"]</h2>
        <p class="">
            Mật khẩu của bạn đã được đặt lại thành công.
        </p>
        <a asp-page="./Login" class="btn btn-success mt-3">Đăng nhập ngay</a>
    </div>
</div>
